---
layout: layouts/layout.njk
title: Runner game
hideNav: true
bodyClass: anime-runner-page
pageCss: /game-corner/anime-runner/anime-runner.css
pageJs: /game-corner/anime-runner/js/game.js
pageJsType: module
---

<div class="game-wrapper">
	<canvas id="game"></canvas>
</div>
