---
layout: layouts/layout.njk
title: Flappy Bird
hideNav: true
bodyClass: flappy-game-page
pageCss: /game-corner/flappy-bird/flappy.css
pageJs: /game-corner/flappy-bird/js/game.js
pageJsType: module
---

<div class="game-wrapper">
  <canvas id="game"></canvas>
</div>
