---
layout: layouts/layout.njk
---

<section class="post-content">
  <div class="post-content-inner">
    <a href="{{ '/' | url }}" class="post-back">← Home</a>
    <article class="prose">
      {{ content | safe }}
    </article>
  </div>
</section>
